<div class="container">
    <div class="h3"> You are not authorized to view this page
    </div>
<div>Would you prefer to 
    <a asp-controller="authentication" asp-action="Logout">Login as someone else?</a>
    ?</div>
</div>